.section-one {
  object-fit: cover;
  width: 100%;
  height: 600px;
  filter: brightness(70%);
}
.section-two {
  min-height: 400px;
  background-color: black;
  color: #d4af37;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: -20px;
  padding: 30px;
}
.outer-sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.inner-sub-container {
  height: 400px;
  background-color: #171717;
  margin-bottom: 90px;
  z-index: 0;
}
.inner-sub-container:hover {
  transition: 0.3s ease-in-out;
  z-index: 1;
  transform: scale(1.1);

}
.text-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.section-three {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #121212;
}
.left {
  width: 65%;
  color: white;
}
.sub-left {
  margin: 90px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: null;
}
.right {
  width: 50%;
  height: 100%;
}
.last-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.text {
  margin-right: 40px;
}

.img {
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.button--icon:before {
  color: black !important;
}

@media (max-width: 60em) {
  .section-one {
    height: 400px;
  }
  .outer-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .inner-sub-container {
    margin: 30px;
  }

  .section-three {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .left {
    width: 100%;
    height: 100%;
  }
  .sub-left {
    margin: 20px;
    text-align: left;
  }
  .right {
    display: none;
  }
  .text {
    padding: 40px;
  }
}
