.navbar-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  color: white;
 
}

.left-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 1.4rem;
}
.oregon {
  text-decoration: none;
  color: white;
}
.right-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
.user-name {
  margin-right: 10px;
  font-size: 1rem;
}
.signin-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d4af37;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #d4af37;
  font-size: 1rem;
  outline: none;

}

.signin-btn:hover {
  background-color: null;
}
@media (max-width: 50em) {
  .signin-btn {
    width: 85px;
    font-size: 0.9rem;
  }
  .user-name {
    font-size: 0.9rem;
  }
}
